.App {
	text-align: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.App header {
	margin-bottom: 2rem;
}

.App h1 {
	font-size: 2.5rem;
	color: #61dafb;
}

main {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.selectors {
	width: 100%;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
