.App {
	text-align: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.App header {
	margin-bottom: 2rem;
}

.App h1 {
	font-size: 2.5rem;
	color: #61dafb;
}

.App .link {
	color: #61dafb;
	text-decoration: none;
}

main {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.selectors {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.hand-range {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.legend-container {
	color: #a0aec0; /* Light gray */
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	/* Ensure it takes up similar space as ActionLegend to reduce layout shift */
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
